html {
    background-image: url("../imgs/background.jpeg");

}

ul.links li:hover {
    font-size: 20px;
}

h1 {
    text-align: center;
    border: 10px;
    color: #403831;
    -webkit-text-stroke: 1px white;
    font-size: 50px;
}

form {
    text-align: center;
    border: 10px;
    padding: 8px 0px;
    border: none;
    color: #403831;
}

ul.links {
    list-style-type: none;
}

button {
    background-color: #D9C9BA;
}

.container {
    position: relative;
    top: 7em;
    width: 20em;
    height: 25em;
    align-items: center;
    border: 0.5em double white;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 1em;
    /* background-color: #F2E3D5; */
}

.user-img {
    background: url("../imgs/user.png") no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100%;
}

a {
    color: black;
}


.panda {
    margin-top: 90px;
    position: relative;
    top: 40%;
    left: 47%;
    height: 120px;
    width: 80px;
    background-color: white;
    border-radius: 30%;
    border: 5px solid black;
}

.face {
    position: relative;
    background-color: white;
    border: 5px solid black;
    height: 90px;
    width: 110px;
    border-radius: 50%;
    bottom: 30px;
    right: 20px;
}

.ear-1,
.ear-r {
    position: relative;
    background-color: black;
    height: 25px;
    width: 40px;
    border-radius: 0px 0px 40px 40px;
}

.ear-1 {
    transform: rotate(145deg);
    bottom: 13px;
    right: 8px;
}

.ear-r {
    transform: rotate(-145deg);
    left: 78px;
    bottom: 38px;
}

.eye-1,
.eye-r {
    position: relative;
    background-color: black;
    width: 28px;
    height: 33px;
    border-radius: 50%;
}

.eye-1 {
    bottom: 30px;
    left: 10px;
    transform: rotate(25deg);
}

.eye-r {
    bottom: 63px;
    left: 72px;
    transform: rotate(-25deg);
}

.eyeball {
    position: relative;
    top: 8px;
    left: 7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
}

.nose {
    position: relative;
    height: 8px;
    width: 15px;
    background-color: black;
    border-radius: 15px;
    bottom: 65px;
    left: 48px;
}

.hand-1,
.hand-r {
    position: relative;
    width: 25px;
    height: 43px;
    background-color: black;
    border-radius: 30px;
}

.hand-1 {
    transform: rotate(90deg);
    bottom: 28px;
    right: 12px;
    animation: wave 3s infinite;
    transform-origin: top;
}

@keyframes wave {
    50% {
        transform: rotate(120deg);
    }
}

.hand-r {
    transform: rotate(-90deg);
    bottom: 92px;
    left: 89px;
}

.leg-1,
.leg-r {
    position: relative;
    background-color: black;
    width: 17px;
    height: 25px;
    border-radius: 0px 0px 30px 30px;
}

.leg-1 {
    bottom: 65px;
    left: 15px;
}

.leg-r {
    bottom: 90px;
    left: 49px;
}

.shadow {
    position: relative;
    background-color: rgba(0, 0, 0, 0, .2);
    height: 30px;
    width: 100px;
    border-radius: 50%;
    bottom: 105px;
    right: 10px;
}
