html {
    background-image: url("../imgs/background.jpeg");
}

form {
    width: 330px;
    box-shadow: 0 0 3px 0 #403831;
    background: #F2E3D5;
    padding: 20px;
    margin: 8% auto 0;
    margin-top: 10px;
    border-radius: 10px;
}

button {
    background-color: #D9C9BA;
}

h1 {
    text-align: center;
    width: 330px;
    box-shadow: 0 0 3px 0 #403831;
    background: #F2E3D5;
    padding: 20px;
    margin: 8% auto 0;
    color: #403831;
    background: url("../imgs/signup.png") no-repeat;
    background-size: 20%;
    background-color: #F2E3D5;
    border-radius: 10px;
}

a {
    color: #403831;
}
