html {
    background-image: url("../imgs/task.jpeg");
}

.links {
    list-style-type: none;
    display: flex;
    padding: 40px;
}

.task-link,
.project-link {
    border-bottom: 1px;
    padding: 16px;
    width: auto;
    height: 3ex;
    background-color: #D9C9BA;
    border: 2px solid #403831;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.logout-link {
    border-bottom: 1px;
    padding: 16px;
    width: 5em;
    height: 3ex;
    background-color: #D9C9BA;
    border: 2px solid #403831;
    border-radius: 10px;
    font-weight: bold;
    margin-left: auto;
    text-align: center;
}

h1 {
    color: #403831;
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 130px;
}

.new {
    text-align: center;
    font-size: 30px;
}

table {
    border: 3px solid #403831;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #F2E3D5;
}

th,
td {
    border: 2px solid #403831;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color: #403831;
    background-color: #F2E3D5;
}

a {
    color: #403831;
}

.empty {
    font-size: 35px;
    text-align: center;
}
