html {
    background-image: url("../imgs/create.jpeg");
    background-size: 100%;
}

h1 {
    color: #D9C9BA;
    -webkit-text-stroke: 2px #403831;
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
    padding-bottom: 60px;
}

form {
    width: 330px;
    box-shadow: 0 0 3px 0 #403831;
    background: #D9C9BA;
    padding: 70px;
    margin: 8% auto 0;
    margin-top: 10px;
    border-radius: 10px;
}

.links {
    list-style-type: none;
    display: flex;
    padding: 40px;
}

.task-link,
.project-link {
    border-bottom: 1px;
    padding: 16px;
    width: auto;
    height: 3ex;
    background-color: #D9C9BA;
    border: 2px solid #403831;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.logout-link {
    border-bottom: 1px;
    padding: 16px;
    width: 5em;
    height: 3ex;
    background-color: #D9C9BA;
    border: 2px solid #403831;
    border-radius: 10px;
    font-weight: bold;
    margin-left: auto;
    text-align: center;
}

a {
    color: #403831;
}
