html {
    background-image: url("../imgs/task.webp");
    background-size: 2000px;
}

.links {
    list-style-type: none;
    display: flex;
    padding: 40px;
}

.task-link,
.project-link {
    border-bottom: 1px;
    padding: 16px;
    width: auto;
    height: 3ex;
    background-color: #F2E3D5;
    border: 2px solid #403831;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.logout-link {
    border-bottom: 1px;
    padding: 16px;
    width: auto;
    height: 3ex;
    background-color: #F2E3D5;
    border: 2px solid #403831;
    border-radius: 10px;
    font-weight: bold;
    margin-left: auto;
    text-align: center;
}

table {
    border: 3px solid #403831;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #F2E3D5;
}

th,
td {
    border: 2px solid #403831;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color: #403831;
    background-color: #F2E3D5;
}

h1 {
    color: #403831;
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 80px;
}

.description {
    font-size: 30px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.create {
    text-align: center;
    font-size: 25px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

a {
    color: #403831;
}

.empty {
    font-size: 35px;
    text-align: center;
}
