{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}"
</head>

<body>
    <header>
        <nav>
            <ul class="links">
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a>
                <li><a href="{% url 'list_projects' %}">My projects</a>
                <li><a href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="panda">
            <div class="face">
                <div class="ear-1"></div>
                <div class="ear-r"></div>
                <div class="eye-1">
                    <div class="eyeball"></div>
                </div>
                <div class="eye-r">
                    <div class="eyeball"></div>
                </div>
                <div class="nose"></div>
            </div>
            <div class="hand-1"></div>
            <div class="hand-r"></div>
            <div class="leg-1"></div>
            <div class="leg-r"></div>
            <div class="shadow"></div>
        </div>
        <div class="container">
            <div class="user-img"></div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
                <p><button><a href="{% url 'signup' %}">Signup</a></button></p>
        </div>
    </main>
</body>

</html>
