{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
    <link rel="stylesheet" href="{% static 'css/mytask.css' %}">
</head>
<header>
    <nav>
        <ul class="links">
            {% if user.is_authenticated %}
            <li class="task-link"><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
            <li class="project-link"><a href="{% url 'list_projects' %}">My Projects</a></li>
            <li class="logout-link"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<body>
    <main>
        <div>
            <h1>My Tasks</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                {% for mine in show_my_tasks.all %}
                <tbody>
                    <tr>
                        <td>{{ mine.name }}</td>
                        <td>{{ mine.start_date }}</td>
                        <td>{{ mine.due_date }}</td>
                        <td>{{ mine.is_completed }}</td>
                </tbody>
                {% empty %}
                <p class="empty">You have no tasks</p>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
