{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Project</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}"
</head>
<header>
    <nav>
        <ul class="links">
            {% if user.is_authenticated %}
            <li class="task-link"><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
            <li class="project-link"><a href="{% url 'list_projects' %}">My Projects</a></li>
            <li class="logout-link"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<body>
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
        </div>
    </main>
</body>

</html>
