{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}"
</head>

<header>
    <nav>
        <ul class="links">
            {% if user.is_authenticated %}
            <li class="task-link"><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
            <li class="project-link"><a href="{% url 'list_projects' %}">My Projects</a></li>
            <li class="logout-link"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            <div class="new"><a href="{% url 'create_project' %}">Create a new project</a></div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                {% for project in list_projects %}
                <tbody>
                    <tr>
                        <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.tasks.all.count }}</td>
                    </tr>
                </tbody>
                {% empty %}
                <p class="empty">You are not assigned to any projects</p>
                {% endfor %}
            </table>

        </div>
    </main>
</body>

</html>
