{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Tasks</title>
    <link rel="stylesheet" href="{% static 'css/task.css' %}"
</head>

<body>
    <header>
        <nav>
            <ul class="links">
                {% if user.is_authenticated %}
                <li class="task-link"><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                <li class="project-link"><a href="{% url 'list_projects' %}">My Projects</a></li>
                {% comment %} <li class="welcome">Welcome, {{ user.username }}</li> {% endcomment %}
                <li class="logout-link"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            {% for project in list_projects %}
            <h1>{{ project.name }}</h1>
            <p class="description">{{ project.description }}</p>
            {% endfor %}
            <p class="create"><a href="{% url 'create_task' %}">Create a new task</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                {% for task in show_task.all %}
                <tbody>
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno }}</td>
                    </tr>
                </tbody>
                {% empty %}
                <p class="empty">This project has no tasks</p>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
